# Temp Files
**/*.log
**/.docpad.db

# Build Files
build/
components/
bower_components/
node_modules/
out/
.docpad.db

# IDE files
.idea/
.DS_Store
desktop.ini
.grunt
.npm

# =====================================
# CUSTOM MODIFICATIONS
src/files/vendor
